* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
    --mainColor: #33293A;
    --secondColor: #140A3D;

    --envelopColor: #fdf3e2;

    --fontColor: #1D1968;

    --mainFont: 'Open Sans', 'Helvetica Neue', sans-serif;
    --fontHandwritting: "Shantell Sans", system-ui;
}
body {
    background-color: var(--mainColor);
}

/* main style for envelop and brief */
.envelop article,
.brief {
    position: relative;
    background-color: var(--envelopColor);
    /* width: 50rem;
    min-height: 55vh; */
    width: 80vw;
    max-width: 50rem;
    min-height: 55vh;
    font-family: var(--fontHandwritting);
    color: var(--fontColor);
    border-radius: 8px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
@media (max-width: 768px) {
    .envelop article, 
    .brief {
        width: 90vw; /* aanpassing voor tablets en kleinere schermen */
        min-height: 65vh; /* verhoog de minimale hoogte */
    }
}